@page
@model RaspberryWebTerminal.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@DateTime.Now</title>
</head>
<body>
<script type="text/javascript" src="/scripts/gamepad.js"></script>
<style>
  .full-screen
  {
    font-family: Consolas, sans-serif;
    font-size: 12pt;
  }
  .axes {
    padding: 1em;
  }
  
  .buttons {
    margin-left: 1em;
  }
  
  /*meter*/.axis {
    min-width: 200px;
    margin: 1em;
  }
  
  .button {
    display: inline-block;
    width: 1em;
    text-align: center;
    padding: 1em;
    border-radius: 20px;
    border: 1px solid black;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAAxJREFUCNdjYPjPAAACAgEAqiqeJwAAAABJRU5ErkJggg==);
    background-size: 0% 0%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  
  .pressed {
    border: 1px solid red;
  }
  
  .touched::after {
    content: "touch";
    display: block;
    position: absolute;
    margin-top: -0.2em;
    margin-left: -0.5em;
    font-size: 0.8em;
    opacity: 0.7;
  }
</style>
<h2 id="start" class="full-screen">Press a button on your controller to start</h2>
</body>
</html>