@page
@model RaspberryWebTerminal.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@DateTime.Now</title>
</head>
<body>
<!-- <script src="~/WebUI/main.js"></script> 
-->
<script>
    alert("aboba");
</script>
<div class="text-center">Web UI</div>
</body>
</html>