@page
@model RaspberryWebTerminal.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>@DateTime.Now</title>
        <script src="~/WebUI/main.js"></script>
    </head>
    <body>
        <div class="text-center">Web UI</div>
    </body>
</html>